root=true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf8
indent_style = space

[*.rst]
indent_style = space
indent_size = 3

[*.css]
# Правила продиктованы Stylelint: https://stylelint.io/
indent_style = space
indent_size = 2

[Makefile]
indent_stype = tab
