# Python
__pycache__/
*.pyc

# Build output
build/
dist/

# Sphinx output
source/_build/

# Compiled files
*.mo
*.pot

# Cache and logs
*.cache
*.log

# Sphinx Book Theme
sphinx_book_theme/static/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

/source/_static/
/techwriters.ru/
