# Python
__pycache__/
*.pyc

# Sphinx output
/build/

# Compiled files
*.mo
*.pot

# Cache and logs
*.cache
*.log

# Sphinx Book Theme
sphinx_book_theme/static/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Папка с опубликованными версиями сайта

/html_version/

/build/

